wandb==0.23.1
tqdm==4.67.1
setuptools==80.9.0
conda-anaconda-tos==0.2.2
opencv-python==4.12.0.88
mpmath==1.3.0
ImageIO==2.37.2
typer==0.17.4
jsonpatch==1.33
brotlicffi==1.0.9.2
optimum-quanto==0.2.7
shellingham==1.5.4
hf-xet==1.2.0
annotated-types==0.6.0
nvidia-cufft-cu12==11.3.3.83
jaraco.classes==3.4.0
peft==0.18.0
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
MarkupSafe==3.0.3
typer-slim==0.20.0
triton==3.5.1
nvidia-cuda-cupti-cu12==12.8.90
httpx==0.28.1
frozenlist==1.8.0
nvidia-cuda-nvrtc-cu12==12.8.93
archspec==0.2.5
protobuf==6.33.2
multiprocess==0.70.18
jaraco.functools==4.1.0
diffusers==0.36.0
accelerate==1.12.0
cryptography==46.0.3
psutil==7.2.1
conda-content-trust==0.2.0
PyJWT==2.10.1
boltons==25.0.0
sympy==1.14.0
rich==14.2.0
frozendict==2.4.6
propcache==0.4.1
truststore==0.10.1
menuinst==2.4.1
aiohttp==3.13.3
matplotlib==3.10.8
cffi==2.0.0
safetensors==0.7.0
nvidia-cudnn-cu12==9.10.2.21
huggingface-hub==0.36.0
gitdb==4.0.12
pytz==2025.2
fsspec==2025.10.0
readchar==4.2.1
pluggy==1.5.0
bitsandbytes==0.49.0
platformdirs==4.5.0
SecretStorage==3.4.0
six==1.17.0
click==8.1.8
pyparsing==3.3.1
anyio==4.12.0
xxhash==3.6.0
optimum==2.1.0
pandas==2.3.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scikit-learn==1.7.2
nvidia-cufile-cu12==1.13.1.3
semver==3.0.4
dill==0.4.0
packaging==25.0
anaconda-auth==0.10.0
distro==1.9.0
nvidia-nvtx-cu12==12.8.90
jsonpointer==3.0.0
transformers==4.57.3
jeepney==0.7.1
Jinja2==3.1.6
cycler==0.12.1
wcwidth==0.2.14
contourpy==1.3.3
conda-libmamba-solver==25.4.0
numpy==2.2.6
filelock==3.20.0
anaconda-cli-base==0.6.0
smmap==5.0.2
nvidia-cuda-runtime-cu12==12.8.90
tzdata==2025.3
libmambapy==2.3.2
clip==1.0
ruamel.yaml.clib==0.2.14
nvidia-cublas-cu12==12.8.4.1
pycosat==0.6.6
GitPython==3.1.46
sentry-sdk==2.48.0
charset-normalizer==3.4.4
einops==0.8.1
pydantic-settings==2.10.1
zstandard==0.24.0
ninja==1.13.0
decord==0.6.0
joblib==1.5.3
attrs==25.4.0
conda-package-handling==2.4.0
torchvision==0.24.1
markdown-it-py==4.0.0
pillow==12.0.0
conda-anaconda-telemetry==0.3.0
importlib_metadata==8.7.1
h11==0.16.0
nvidia-nvshmem-cu12==3.3.20
yarl==1.22.0
fonttools==4.61.1
kiwisolver==1.4.9
typing_extensions==4.15.0
zipp==3.23.0
pydantic==2.12.3
mdurl==0.1.2
tokenizers==0.22.1
threadpoolctl==3.6.0
nvidia-curand-cu12==10.3.9.90
jaraco.context==0.0.0
requests==2.32.5
multidict==6.7.0
sktime==0.40.1
sentencepiece==0.2.1
networkx==3.6.1
pydantic_core==2.41.4
pyarrow==22.0.0
pip==25.2
Pygments==2.19.2
typing-inspection==0.4.2
urllib3==2.5.0
regex==2025.11.3
aiohappyeyeballs==2.6.1
tomli==2.2.1
ftfy==6.3.1
keyring==25.6.0
certifi==2025.10.5
nvidia-nccl-cu12==2.27.5
more-itertools==10.8.0
conda_package_streaming==0.12.0
torch==2.9.1
nvidia-nvjitlink-cu12==12.8.93
aiosignal==1.4.0
conda==25.9.1
pkce==1.0.3
pycparser==2.23
idna==3.11
scikit-base==0.13.0
PySocks==1.7.1
scipy==1.16.3
python-dotenv==1.1.0
datasets==4.4.2
ruamel.yaml==0.18.16
nvidia-cusolver-cu12==11.7.3.90
wheel==0.45.1
httpcore==1.0.9
anaconda-anon-usage==0.7.4
