_wandb:
    value:
        cli_version: 0.23.1
        e:
            eiq0oa6c7n2p0riicpuu0zm2g8pugfp0:
                args:
                    - --base_model
                    - meta-llama/Llama-2-7b-hf
                    - --adapter_path
                    - /home/dongwoo38/PiSSA/output/conversation-LAVA-r128-B_int4-A_fp32-vib0.1-seed42/lava_Llama-2-7b-hf_r128_a16.0_vb0.1_st1.0_ls1.0_bd-int4_s42/checkpoint-8937/adapter_model
                    - --dataset
                    - both
                    - --num_samples
                    - "1000"
                    - --wandb_project
                    - MT-Math-Eval
                codePath: evaluate_math.py
                codePathLocal: evaluate_math.py
                cpu_count: 24
                cpu_count_logical: 48
                cudaVersion: "13.0"
                disk:
                    /:
                        total: "1966736678912"
                        used: "1400480272384"
                email: yein0330@sogang.ac.kr
                executable: /home/dongwoo38/miniconda3/envs/pissa/bin/python
                git:
                    commit: 4b4102dd787cd43bc1ec79fa604da20e8bec6b4f
                    remote: https://github.com/merrybabyxmas/lava2.git
                gpu: NVIDIA GeForce RTX 4090
                gpu_count: 4
                gpu_nvidia:
                    - architecture: Ada
                      cudaCores: 16384
                      memoryTotal: "25757220864"
                      name: NVIDIA GeForce RTX 4090
                      uuid: GPU-1a133bd2-ae1e-86f3-56bf-38518f125ad4
                    - architecture: Ada
                      cudaCores: 16384
                      memoryTotal: "25757220864"
                      name: NVIDIA GeForce RTX 4090
                      uuid: GPU-6068f209-96d6-139d-80fb-7db74591f8b4
                    - architecture: Ada
                      cudaCores: 16384
                      memoryTotal: "25757220864"
                      name: NVIDIA GeForce RTX 4090
                      uuid: GPU-4f8fb1fe-e7c5-aad3-6f94-a16bee1178a0
                    - architecture: Ada
                      cudaCores: 16384
                      memoryTotal: "25757220864"
                      name: NVIDIA GeForce RTX 4090
                      uuid: GPU-760bf631-f8cc-ccc4-3350-5f6d4379dbe5
                host: user-WRX80-Creator
                memory:
                    total: "134894321664"
                os: Linux-6.14.0-37-generic-x86_64-with-glibc2.39
                program: /home/dongwoo38/PiSSA/evaluate_math.py
                python: CPython 3.10.19
                root: /home/dongwoo38/PiSSA
                startedAt: "2026-01-11T06:20:51.471381Z"
                writerId: eiq0oa6c7n2p0riicpuu0zm2g8pugfp0
        m: []
        python_version: 3.10.19
        t:
            "1":
                - 1
                - 11
                - 49
                - 51
                - 71
                - 98
                - 105
            "2":
                - 1
                - 11
                - 49
                - 51
                - 71
                - 98
                - 105
            "3":
                - 13
                - 16
                - 61
            "4": 3.10.19
            "5": 0.23.1
            "6": 4.45.1
            "12": 0.23.1
            "13": linux-x86_64
adapter_path:
    value: /home/dongwoo38/PiSSA/output/conversation-LAVA-r128-B_int4-A_fp32-vib0.1-seed42/lava_Llama-2-7b-hf_r128_a16.0_vb0.1_st1.0_ls1.0_bd-int4_s42/checkpoint-8937/adapter_model
base_model:
    value: meta-llama/Llama-2-7b-hf
